{% extends 'base.html' %}

{% block content %}
  <h1>📁 Leer y Guardar Datos desde Archivos</h1>

  <h2>🔽 Leer productos desde archivo</h2>
  <ul>
    <li><a href="{{ url_for('cargar_txt') }}">Leer desde TXT</a></li>
    <li><a href="{{ url_for('cargar_json') }}">Leer desde JSON</a></li>
    <li><a href="{{ url_for('cargar_csv') }}">Leer desde CSV</a></li>
  </ul>

  <h2>💾 Guardar productos en archivo</h2>
  <form method="post" action="{{ url_for('guardar_txt') }}" style="display:inline;">
    <button type="submit" class="btn">Guardar en TXT</button>
  </form>

  <form method="post" action="{{ url_for('guardar_json') }}" style="display:inline;">
    <button type="submit" class="btn">Guardar en JSON</button>
  </form>

  <form method="post" action="{{ url_for('guardar_csv') }}" style="display:inline;">
    <button type="submit" class="btn">Guardar en CSV</button>
  </form>

{% endblock %}
